{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "arrow-body-style": 2,
    "arrow-spacing": 2,
    "camelcase": [2, {"properties": "never"}],
    "indent": [2, 2],
    "jsx-quotes": [2, "prefer-single"],
    "new-cap": 0,
    "no-alert": 1,
    "no-var": 2,
    "no-console": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-process-exit": 2,
    "no-self-assign": 1,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unmodified-loop-condition" : 2,
    "no-unused-expressions": 0,
    "no-unused-vars": 1,
    "no-warning-comments": [1, {"terms": ["todo", "fixme"], "location": "anywhere"}],
    "quotes": [2, "single", "avoid-escape"],
    "react/display-name": 2,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": [1, "allow-in-func"],
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1,
    "semi": 2,
    "space-in-parens": [2, "never"],
    "strict": [0, "global"],
    "template-curly-spacing": [2, "never"]
  }
}
