tr.CommentItemBody
  height 20px !important
.CommentNo
  padding-left 3px !important
  padding-right 3px !important
  border-right solid 1px rgb(240, 240, 240)
  text-align center !important
  width 15%
.CommentUserName
  padding-left 3px !important
  padding-right 3px !important
  border-right solid 1px rgb(240, 240, 240)
  text-align center !important
  width 15%
.CommentText
  padding-left 10px !important
  width 70%

