tr.CommentItemBody
  height 30px !important
.CommentNo
  padding-left 3px !important
  padding-right 3px !important
  border-right solid 1px rgb(240, 240, 240)
  text-align center !important
  width 70px
  min-width 70px
.CommentUserName
  padding-left 3px !important
  padding-right 3px !important
  border-right solid 1px rgb(240, 240, 240)
  text-align center !important
  width 90px
  min-width 90px
.CommentText
  padding-left 10px !important
  width auto

